.overlay {
  z-index: 0;
  position: absolute;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #ff5db1;
  background: -moz-linear-gradient(-45deg, #ff5db1 0%, rgba(0, 87, 137, 0.7) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ff5db1), color-stop(100%, rgba(0, 87, 137, 0.7)));
  background: -webkit-linear-gradient(-45deg, #ff5db1 0%, rgba(0, 87, 137, 0.7) 100%);
  background: -o-linear-gradient(-45deg, #ff5db1 0%, rgba(0, 87, 137, 0.7) 100%);
  background: -ms-linear-gradient(-45deg, #ff5db1 0%, rgba(0, 87, 137, 0.7) 100%);
  background: linear-gradient(135deg, #ff5db1 0%, rgba(0, 87, 137, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#005789', GradientType=1 );
  text-align: center;
  justify-content:space-around;
  display: flex;
  /*flex: auto;*/
  flex: 0 0 100%;  
}


.center {
  text-align: center;
  vertical-align: center;
  font-family: Arial;
  color: white;
}


.center h1 {
  font-weight:100;
  font-size: 53px;
  line-height: 0.5;
}

.center h2 {
  font-weight:100;
  font-size: 33px;
  line-height: 0.8;
}

.center button {
  margin-top: 0;
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 10px;
  font-family: Arial;
  color: white;
  text-align: center;
  font-size: 27px;
  width: 155px;
  height: 50px;
}

#right {
  display:flex; 
  flex-direction: column; 
  align-items: center;
  font-size: 28px; 
  flex: 0 0 28%;
}

#left {
  display:flex; 
  flex-direction: column; 
  align-items: center;
  font-size: 28px; 
  flex: 0 0 28%;
}

#centre {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
.center img {
  width: 90%
}
#right {display:none;}
#left {display:none;}

}