body { font: normal 100% Helvetica, Arial, sans-serif; } 

section {
    /*width:350px;*/
    float:center;
    padding:10px;	 	 
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

html, body {
    position: relative;
	padding: 0;
    margin: 0;
    height: 100%;
    width:100%;
}

#intro {
    text-align:left;
	/*height: 100%;*/
    /*width:fit-content;*/
}

.swiper-button-disabled {
    display:none;
}

#intro h1 {
    font-family: Arial;
    margin-left: 10%;
    margin-top:8vh;
    margin-bottom:6vh;
	font-size: 5vmax;
	font-weight: 400;
    line-height: 0;
	/*width: 500px;*/
}


#data h1 {
    /*padding-top:10vmin;*/
    color:grey;
	margin-left:10%;
    margin-top:8vh;
    text-align:left;
    margin-bottom:6vh;
    font-family: Arial;
	font-size: 5vmax;
	font-weight: 400;
    line-height: 0;
	/*width: 500px;*/
}

#intro p {
    font-family: Arial;
    margin-left:10%;
	margin-right:3%;
	margin-top:0;
    margin-bottom:2vh;
	font-size: 3vmax;
    font-weight: 400;
    /*padding: 0 0;*/
    line-height: 3vh;
	/*width: 1000px;*/
}



#req {
    text-align:left;
    position: relative;
    text-align:left; 
    color:white; 
    width:100%;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
	/*height: 100%;*/
    /*width:fit-content;*/
}

#req img {
    max-width:100%;
    width:10%;
    height:10%;
}

#req h1 {
    font-family: Arial;
    margin-left: 10%;
    margin-top:10vh;
    margin-bottom:8vh;
    font-size: 5vmax;
    font-weight: 400;
    line-height: 0;
}

#req li{
    font-family: Arial;
    margin-left:0%;
	margin-right:3%;
	margin-top:0;
    margin-bottom:3vh;
	font-size: 3vmax;
    /*font-weight: 400;*/
    /*padding: 0 0;*/
    line-height: 3vh;
    list-style: none;
    max-width:85%;
}

#req li img{
    max-width:100%;
    width:6vw;
    height:6vw;
}

button {
    margin-top: 12%;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 12px;
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 8vmin;
    height: 12vmin;
    width: auto;
    min-width: 22vmax;
}

#last{
    color:grey; 
    height:77%;
    text-align: left;
}

#greyside{
    line-height: 3.5vmax;
    display:flex; 
    flex-direction:column; 
    height:35%; 
    justify-content:center;
    align-items:center; 
    background:grey;
    font-size: 6vw;
    width:100%;
    bottom:0;
    position:absolute;
    color:white
}

#last p{
	font-family: Arial;
    margin-left:5%;
	margin-top:0;
    margin-bottom:5vh;
	font-size: 4vmax;
    font-weight: 400;
    /*padding: 0 0;*/
    line-height: 5.5vh;
	/*width: 1000px;*/
}

.arrow{
	position: absolute;
    bottom: 5vh;
	width: 10vmin;
}

#prev {
    top:35%;
}

#next {
    top:35%;
}


